body {
    background: grey;
}

section {
    width: 200px;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: white;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: top;
}

div.images {
    width: 100%;
    border-top-left-radius: 50px;
}

div.time {
    width: 100%;
    color: purple;
    margin-top: 3em;
    padding: 0 1em 0 1em;
}

p.time-text {
    margin: 0;
    font-size: 0.5em;
}

div.title {
    width: 100%;
    margin: 0.8em 0 0 0;
    padding: 0 1em 0 1em;
}

h2.title-text {
    margin: 0;
}

div.content {
    width: 100%;
    color: grey;
    margin: 1.8em 0 0 0;
    padding: 0 1em 0 1em;
}

p.content-text {
    margin: 0;
    font-size: 0.7em;
}

div.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(177, 44, 66);
    color: white;
    margin: 1.3em 0 0 0;
    padding: 0.5em 1em 0.5em 1em;
}

p.info-text-top {
    margin: 0;
    font-size: 0.8em;
}

p.info-text-bottom {
    margin: 0;
    font-size: 0.5em;
}