section {
    background: blueviolet;
    width: 200px;
    min-height: 450px;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

div.images {
    width: 100%;
}

div.time {
    width: 100%;
}

div.title {
    width: 100%;
}

div.content {
    width: 100%;
}

div.info {
    width: 100%;
}