body {
    background-color: rgb(163, 161, 161)
}

h1 {
    text-align: center; 
    color: aqua;
}

section {
    min-height: 500px;
}

header {
    height: 100px;

}



h2 {
    text-align: center;
}

p {
    text-align: center;
}

img.header-logo {
    width: 50px;
    max-height: 100px;
    float: left;
}

img.visos-kitos-nuotraukos {
    width: 500px;
    height: 300px;
    float: left;
}

img.antros-sekcijos-nuotrauka {
    float: right;
}

footer {
    text-align: center;
    height: 50px;
}

.color1 {
background-color: cadetblue;
}

h2.pavadinimo-spalva-1{
    color: darkgoldenrod;
}

p.pastraipos-spalva-1 {
    color: yellow;
}

h2.pavadinimo-spalva-2 {
    color: blue;
}

p.pastraipos-spalva-2 {
    color: orange;
}

h2.pavadinimo-spalva-3 {
    color: yellow;
}

p.pastraipos-spalva-3 {
    color: red;
}
