body {
    background-color: rgb(163, 161, 161)
}

h1 {
    text-align: center; 
    color: aqua;
}

section {
    min-height: 500px;
}

header {
    height: 100px;
}



h2 {
    text-align: center;
}

p {
    text-align: center;
}

section.pirma-sekcija {
    background-color: blue;
}

section.antra-sekcija {
    background-color: cadetblue;
}

section.trečia-sekcija {
    background-color: darkgoldenrod;
}

img.header-logo {
    width: 50px;
    max-height: 100px;
    float: left;
}

img.visos-kitos-nuotraukos {
    width: 500px;
    height: 300px;
    float: left;
}

img.antros-sekcijos-nuotrauka {
    float: right;
}