section {
    width: 150px;
    border-radius: 3px;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(204, 60, 91);
    
}

img.section1-img {
    width: 30%;
}

h2.section1-h2 {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    margin: 0.70em 0 0 0;
}

p.section1-p {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 0.6em;
    color: white;
    margin: 0.70em 0 0 0;
}

input.section1-input {
    background: white;
    width: 100%;
    color: rgb(221, 103, 139);
    border-radius: 10px;
    border-style: none;
    font-size: 0.55em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.70em 0 0 0;
}

