img.header-logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10%;
}

header {
    background: rgb(238,190,174);
    background: radial-gradient(circle, rgba(238,190,174,1) 0%, rgba(152,148,233,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

section {
    width: 21%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 10px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background: rgb(232,238,174);
    background: radial-gradient(circle, rgba(232,238,174,1) 0%, rgba(233,148,151,1) 100%);
}

img.section-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

h3.title {
    width: 80%;
}

p.age {
    width: 20%;
}

p.description {
    font-size: 0.6em;
}

main {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    background: rgb(232,238,174);
    background: radial-gradient(circle, rgba(232,238,174,1) 0%, rgba(190,95,150,1) 100%);
}